<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Azure Artifacts" value="https://pkgs.dev.azure.com/finphie/Main/_packaging/DotNet/nuget/v3/index.json" />
    <packageSourceCredentials>
      <Azure_x0020_Artifacts>
        <add key="Username" value="%GITHUB_ACTOR%" />
        <add key="ClearTextPassword" value="%AZURE_ARTIFACT_PAT%" />
      </Azure_x0020_Artifacts>
    </packageSourceCredentials>
  </packageSources>
</configuration>